* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*MAIN*/
.main {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/leafs_main.svg);
    background-repeat: no-repeat;
    background-position: left top;
  }

  &__info {
    &-logo-img {
      margin: 140px 0px 0px 130px;
    }
    &-text {
      font-family: PT Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      width: 566px;
      color: #161616;
      margin: 40px 126px 0px 130px;
    }
    &-button {
      width: 250px;
      height: 50px;
      font-family: Noto Sans;
      font-weight: 500;
      font-size: 15px;
      color: #c1252a;
      border: 1px solid #f3d3d4;
      padding: 5px 37px 10px 0px;
      margin: 50px 0px 163px 130px;
      background: #fff;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: rgb(255, 167, 167);
      }
    }
    &-button-img {
      padding: 0px 18px 0px 40px;
    }
  }
  &__img {
    margin-top: -55px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wolt {
      width: 360px;
      height: 99px;
      background-color: #00c2e8;
      margin-left: 190px;
      &-content {
        display: flex;
      }
      &-text {
        font-family: Noto Sans;
        font-weight: 500;
        font-size: 15px;
        line-height: 14px;
        color: #ffffff;
        padding: 28px 70px 18px 30px;
      }
      &-img {
        padding-top: 28px;
      }
      &-vector {
        height: 11px;
        padding-left: 30px;
      }
    }
    &-lieferando {
      width: 360px;
      height: 99px;
      background-color: #ff8000;
      &-content {
        display: flex;
      }
      &-text {
        font-family: Noto Sans;
        font-weight: 500;
        font-size: 15px;
        line-height: 14px;
        color: #ffffff;
        padding: 28px 70px 18px 30px;
      }
      &-img {
        padding-top: 24px;
        padding-right: 30px;
      }
      &-vector {
        height: 11px;
        padding-left: 30px;
      }
    }
    &-uber {
      width: 360px;
      height: 99px;
      background-color: #142328;
      margin-right: 60px;
      &-content {
        display: flex;
      }
      &-text {
        font-family: Noto Sans;
        font-weight: 500;
        font-size: 15px;
        line-height: 14px;
        color: #ffffff;
        padding: 28px 70px 18px 30px;
      }
      &-img {
        padding-top: 23px;
        padding-right: 33px;
      }
      &-vector {
        height: 11px;
        padding-left: 30px;
      }
    }
  }
}
/*ABOUT*/
.about {
  &__content {
    display: flex;
    margin-top: 80px;
    margin-left: 90px;
    background-image: url(../img/stamp.svg);
    background-repeat: no-repeat;
    background-position: center top;

    &-img {
      padding-top: 110px;
    }

    &-description {
      padding: 310px 10px 110px 180px;
    }

    &-header {
      font-family: PT Serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      color: #161616;
      padding-bottom: 22px;
    }

    &-text {
      font-family: Noto Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #161616;
      width: 470px;
    }
  }
}
/*FOOTER*/
.footer {
  &__inner {
    display: flex;
    margin-top: 90px;
    margin-left: 190px;
  }

  &__left {
    margin-right: 170px;
    &-img {
      padding-top: 70px;
      padding-bottom: 68px;
    }
    &-social {
      display: flex;
      &-fb {
        padding-right: 62px;
        padding-bottom: 37px;
      }
    }
    &-copyright {
      font-family: Lato;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #c4c4c4;
    }
  }
  &__center {
    padding-top: 120px;

    &-street {
      font-family: PT Serif;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      color: #161616;
      padding-bottom: 20px;
      width: 350px;
    }

    &-phone {
      font-family: PT Serif;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      color: #161616;
    }
  }
  &__right {
    &-map {
      margin-left: -80px;
    }
  }
}
