* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*MENU*/
.menu {
  &__inner {
    background-color: #f8f7f6;
    background-image: url(../img/leaf_top.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__logo {
    padding: 70px 639px 60px 643px;
  }
}
.content {
  background-color: white;
  width: 870px;
  height: 1275px;
  margin: 0px 290px 0px 290px;
  position: relative;
  z-index: 2;

  &__main {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #161616;
    padding-top: 60px;
  }

  &__line {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
  }

  &__name {
    font-family: Noto Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #161616;
    padding-top: 30px;
  }

  &__leaf {
    padding-right: 10px;
  }

  &__description {
    font-family: Noto Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #949494;
    padding-left: 226px;
    padding-right: 226px;
    padding-top: 5px;
    text-align: center;
  }

  &__price {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #c1252a;
    padding-top: 10px;
  }

  &__header {
    font-family: Lato;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #161616;
    padding-top: 40px;
  }
}

/*FOOTER*/
.footer {
  &__inner {
    display: flex;
    background-color: #f8f7f6;
    padding-top: 80px;
    padding-left: 130px;
  }

  &__bg {
    position: absolute;
    bottom: 640px;
    right: 287px;
    z-index: 1;
  }

  &__left {
    margin-right: 170px;
    &-img {
      padding-top: 70px;
      padding-bottom: 68px;
    }
    &-social {
      display: flex;
      &-fb {
        padding-right: 62px;
        padding-bottom: 37px;
      }
    }
    &-copyright {
      font-family: Lato;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #c4c4c4;
    }
  }
  &__center {
    padding-top: 120px;
    position: absolute;
    z-index: 2;
    padding-left: 410px;

    &-street {
      font-family: PT Serif;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      color: #161616;
      padding-bottom: 20px;
      width: 350px;
    }

    &-phone {
      font-family: PT Serif;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      color: #161616;
    }
  }
  &__right {
    &-map {
      position: relative;
      margin-left: 166px;
      z-index: 1;
    }
  }
}
